.wrapper {
	text-align: center;
}

button {
	cursor: pointer;
	padding-block: 2rem;
	padding-inline: 4rem;
	font-size: 2rem;
	border: none;
	border-radius: 5px;
}

.pause {
	background-color: #f44336;
	color: white;
}

.play {
	background-color: #4caf50;
	color: white;
}
