.character-card {
	border-radius: 10px;
	border: 1px solid #e5e7eb;
	text-decoration: none;
	color: inherit;
}

.image-container {
	height: 16rem;
	position: relative;
}

.character-image {
	border-radius: 10px;
	object-fit: cover;
	object-position: top;
	height: 100%;
	width: 100%;
}

.name-container {
	border-end-end-radius: 10px;
	border-end-start-radius: 10px;
	background-color: rgba(19, 27, 59, 0.61);
	backdrop-filter: blur(5px);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.character-name {
	margin-inline-start: 1rem;
}
