.wrapper {
	margin-inline: 4rem;
	margin-block: 2rem;
	position: relative;
}

.headline {
	text-align: center;
}

.post-wrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.wiiiiie {
	position: absolute;
	animation: yohooo 1.5s linear normal;
}

@keyframes yohooo {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}
